In [3]:
lst = ["Inaz", 65, 78.1,[6,5,3]]

In [4]:
lst

['Inaz', 65, 78.1, [6, 5, 3]]

In [5]:
lst.append("Mulla")

In [6]:
lst

['Inaz', 65, 78.1, [6, 5, 3], 'Mulla']

In [10]:
lst.index(65)

1

In [11]:
lst.pop(0)

'Inaz'

In [17]:
lst.count(65)

1

In [19]:
lst.remove("Mulla")

In [20]:
lst

[65, 78.1, [6, 5, 3]]

In [21]:
dit = {"Name":"Inaz","age":"20","number":"23569"}

In [22]:
dit

{'Name': 'Inaz', 'age': '20', 'number': '23569'}

In [23]:
dit.get('Name')

'Inaz'

In [24]:
dit.items()

dict_items([('Name', 'Inaz'), ('age', '20'), ('number', '23569')])

In [25]:
dit.keys()

dict_keys(['Name', 'age', 'number'])

In [26]:
dit.pop("age")

'20'

In [27]:
dit.values()

dict_values(['Inaz', '23569'])

In [28]:
st = {"Inaz","maharashtra","20",5,1,3,2,5,3,5,5}

In [29]:
st

{1, 2, '20', 3, 5, 'Inaz', 'maharashtra'}

In [30]:
st1 = {"Inaz",5,5}

In [31]:
st1.issubset(st)

True

In [32]:
st1.isdisjoint(st)

False

In [34]:
st.pop()

1

In [35]:
st.intersection()

{2, '20', 3, 5, 'Inaz', 'maharashtra'}

In [37]:
st.remove(5)

In [38]:
st

{2, '20', 3, 'Inaz', 'maharashtra'}

In [46]:
tup = ("Inaz", "@", "India")

In [47]:
tup

('Inaz', '@', 'India')

In [48]:
tup.count("@")

1

In [50]:
tup.index("@")

1

In [51]:
#string

In [52]:
country = "India"
state = "Maharashtra"

In [57]:
country + state

'IndiaMaharashtra'

In [58]:
country

'India'

In [59]:
state

'Maharashtra'

In [60]:
country + "space" + country

'IndiaspaceIndia'